{# standard template wrapper #}
<html>
<head>
  {% if title %}
  <title>{{title}}</title>
  {% endif %}
  
  <!-- jquery -->
  <script src="{{ url_for('static',filename='external/jquery/jquery.min.js') }}"></script>
  <!-- mustache for js templates -->
  <script src="{{ url_for('static',filename='external/mustache/mustache.min.js') }}"></script>
  <!-- ckeditor -->
  <script src="{{ url_for('static',filename='external/ckeditor/ckeditor.js') }}"></script>
  
  
  <!-- import our own master css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" type="text/css" />

  {# block for extra imports #}
  {% block imports %}
  {% endblock %}
  
  {# block to insert into header #}
  {% block header %}
  {% endblock %}

</head>
<body>
  {# main content block #}
  {% block content %}
  {% endblock %}
</body>
</html>